.head-bar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.wishlist-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
}

.wishlist-item {
  padding: 5px 10px;
  cursor: pointer;
}

.wishlist-item:hover {
  background-color: #f0f0f0;
}
